*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body{
     font-family: 'Open Sans',arial;
     color: #686868;
}

nav{
    width: 100%;
    height: 100px;
    /* background-color: aquamarine; */
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    display: flex;
    justify-content: space-around;
    position: fixed;
    z-index: 1;
}

header{
    width: 100%;
    height: 750px;
    background-image: url(img/business-main.jpg);
    background-size: cover;
}

.lyr{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.1);
}

.logo{
    width: 30%;
    height: 100%;
}

.menu{
    width: 35%;
    height: 100%;
}

.logo img{
    width: 140px;
    height: 40px;
    margin-top: 30px;
    margin-left: 60px;
}

.menu ul{
    display: flex;
    justify-content: space-around;
}

.menu ul li{
    list-style: none;
    position: relative;
    top: 35px;
}

.menu ul li a{
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    font-size: 17px;
}

.content1{
    width: 60%;
    height: 450px;
    /* background-color: red; */
    position: relative;
    top: 170px;
    left: 290px;
    text-align: center;
    color: #fff;
    position: relative;
}

.content1 h1{
    position: absolute;
    top: 80px;
    transform: translate(230px);
    -webkit-transform: translate(230px);
    -moz-transform: translate(230px);
    -ms-transform: translate(230px);
    -o-transform: translate(230px);
    font-size: 60px;
}

.content1 p{
    position: absolute;
    top: 170px;
    left: 100px;
    font-size: 27px;
}

.btns{
    width: 270px;
    height: 50px;
    /* background-color: #fff; */
    position: relative;
    top: 280px;
    left: 310px;
    display: flex;
    justify-content: space-between;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
}

.btn{
    width: 48%;
    height: 100%;
    padding: 17px;
    /* background-color: aquamarine; */
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
}

.b1{
    background-color: #4274b7;
    color: #fff;
}

.b1:hover{
    background-color: #fff;
    color: #121212 !important;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}

.b2{
    background-color: #fff;
    color: #121212 !important;
}

.b2:hover{
    background-color: rgba(255, 255, 255, 0.7);
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}

.fixed{
    width: 45px;
    height: 90px;
    border-radius: 5px;
    background-color: #fff;
    position: fixed;
    top: 190px;
    right: 0px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    z-index: 1;
    box-shadow: 2px -2px 5px;
}

.fixed img{
    width: 80%;
    height: 40%;
    position: relative;
    left: 5px;  
    top: 8px;  
}

.fixed img:hover{
    filter: brightness(0.9);
    -webkit-filter: brightness(0.9);
}

.mouse{
    width: 30px;
    height: 55px;
    /* background-color: blanchedalmond; */
    border: 1px solid #fff;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    position: relative;
    bottom: 100px;
    left: 730px;
}

.mouse div{
    width: 6px;
    height: 6px;
    background-color: #fff;
    position: relative;
    left: 12px;
    top: 8px;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
     animation-name: slide;
    animation-duration: 1.5s;
    animation-iteration-count: infinite; 
   
}

@keyframes slide{
    0%{top: 0px;}
    20%{top: 10px;}
    40%{top: 20px;}
    60%{top: 30px;}
    80%{top: 40px;}
    100%{top: 50px;}

}

.services1{
    width: 85%;
    height: 400px;
    background-color: #fff;
    display: flex;
    justify-content: space-around;
    margin: auto;
}

.services{
    width: 30%;
    height: 100%;
    /* background-color: aquamarine; */
}

.box{
    width: 100%;
    height: 100px;
    /* background-color: beige; */
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
    position: relative;
    top: 30px;
}

.s{
    width: 40px;
    height: 40px;
    /* background-color: #121212 */
}

.s img{
    width: 100%;
    height: 100%;
}

.k{
    width: 350px;
    height: 70%;
    /* background-color: #4274b7; */
    position: relative;
    left: 15px;
    top: 5px;
}

.k h3{
    font-size: 17px;
    color: #121212;
}

.k p{
    position: relative;
    top: 7px;
    font-size: 15px;
    color: #888888;
    line-height: 25px;
}

.who{
    width: 100%;
    height: 800px;
    background-color: #f8f8f9;
    display: flex;
    justify-content: space-around;
}

.w{
    width: 35%;
    height: 600px;
    /* background-color: #4274b7; */
    position: relative;
    top: 100px;
    left: 60px;
}

.w img{
    width: 100%;
    height: 100%;
}

.w2{
    width: 45%;
    height: 400px;
    /* background-color: aqua; */
    position: relative;
    top: 200px;
    /* right: 30px; */
}

.who ul{
    position: relative;
    top: 100px;
}

.w2 h2{
    position: relative;
    top: 20px;
    color: #121212;
    font-size: 27px;
}

.p{
    position: relative;
    top: 50px;
    line-height: 28px;
}

.list{
    list-style: none;
    line-height: 28px;
}


.btn3{
    position: relative;
    top: 150px;
    left: 20px;
}

.secret{
    width: 100%;
    height: 700px;
    /* background-color: violet; */
    display: flex;
    justify-content: space-around;
}

main{
    width: 100%;
    height: 900px;
    background-color: #f8f8f9;
}

.our{
    width: 400px;
    height: 200px;
    /* background-color: aqua; */
    margin: auto;
    text-align: center;
}

.our img{
    margin-top: 30px;
}

.our h2{
    position: relative;
    top: 20px;
    color: black;
}

.our p{
    position: relative;
    top: 40px;
    font-size: 18px;
    font-weight: 400;
}

.services2{
    width: 80%;
    height: 600px;
    /* background-color: blue; */
    margin: auto;
    display: flex;
    justify-content: space-around;
}

.serve{
    width: 24.5%;
    height: 100%;
    /* background-color: brown; */
}

.group{
    width: 100%;
    height: 45%;
    /* background-color: burlywood; */
    text-align: center;
}

.group img{
    width: 75px;
    height: 75px;
}

.group h3{
    color: #121212;
    font-size: 17px;
    position: relative;
    top: 30px;
}

.group p{
    position: relative;
    top: 40px;
    line-height: 30px;
}

main p{
    color: #888888;
}

.comment{
    width: 100%;
    height: 600px;
    background-image: url(img/business-main.jpg);
    background-size: cover;
}

.bg{
    width: 100%;
    height: 100%;
    background-color: #4274b7;
    opacity: 0.9;
    text-align: center;
}

.bg img{
    position: relative;
    top: 120px;
    border-radius: 40%;
    -webkit-border-radius: 40%;
    -moz-border-radius: 40%;
    -ms-border-radius: 40%;
    -o-border-radius: 40%;
}

.bg p{
    position: relative;
    top: 170px;
    color: #fff;
    font-size: 30px;
}

.bg h5{
    position: relative;
    top: 250px;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
}

.bg h6{
    position: relative;
    top: 290px;
    color: #fff;
    font-size: 15px;
    font-weight: 500;
}

.ads{
    width: 100%;
    height: 300px;
    /* background-color: aqua; */
}

.ad{
    width: 80%;
    height: 100px;
    /* background-color: black; */
    display: flex;
    justify-content: space-around;
    position: relative;
    top: 120px;
    left: 170px;
}

.ad img{
    width: 12%;
}

.ad img:hover{
    filter: brightness(0);
    -webkit-filter: brightness(0);
}

.pre{
    width: 100%;
    height: 300px;
    background-color: #f8f8f9;
    text-align: center;
}

.pre h2{
    position: relative;
    top: 90px;
    color: #121212;
    font-size: 29px;
}

.pre p{
    position: relative;
    top: 110px;
    color: #888888;
    font-size: 21px;
    font-weight: 500;
}

.pre div{
    position: relative;
    top: 150px;
    
}

.pre div a{
    border: 1px solid #4274b7;
    padding: 22px 27px;
    text-decoration: none;
    background-color: #4274b7;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}

.pre div a:hover{
    background-color: #121212;
}

footer{
    width: 100%;
    height: 300px;
    background-color: #162231;
    display: flex;
    justify-content: space-around;
}

footer div{
    width: 20%;
    height: 100%;
    /* background-color: #4274b7; */
}

footer div h3{
    color: #fff;
    position: relative;
    top: 20px;
}

footer li{
    list-style: none;
    margin-bottom: 10px;
}

.li-bg{
    width: 100%;
    height: 80%;
    background-color:rgba(24, 24, 39, 0.8)
}

footer span{
    position: relative;
    bottom: 12px;
}

footer ul{
    margin-top: 50px;
}

.li {
    width: 100%;
    height: 80%;
    background-image: url(img/contact-details-map.png);
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: 50px;
}

.li img{
    width: 27px;
    height: 27px;
}

footer p{
    color: #888888;
}

footer a{
    color: #888888;
    text-decoration: none;
}

footer a:hover{
    color: #4274b7;
}

.copy{
    width: 100%;
    height: 100px;
    background-color: #121b25;
    display: flex;
    justify-content: space-around;
}

.copy div{
    display: flex;
    justify-content: space-around;
}

.copy p{
    margin-top: 20px;
}

.copy div img{
    margin-top: 20px;
    width: 30px;
    height: 30px;
}